---
    import ArrowBlack from "../icons/ArrowBlack.astro"
---

<div class="f min-h-[500px] flex flex-col items-center bg-[white] gap-20 md:p-24 pb-0">
    <h1 class="text-black font-black text-4xl">We're here to help</h1>
    <div class="flex md:flex-row items-center gap-20 flex-col w-full justify-evenly">
        <div class="flex gap-5 flex-col items-center w-[300px] justify-center">
            <img src="/doctor.jpg" width="300" alt="">
            <h1 class="text-xl font-extrabold">Health Insurance</h1>
            <p class="text-sm opacity-70 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum numquam adipisci minus libero vero harum consectetur mollitia. Non delectus eum rerum cum ducimus nobis rem modi similique deleniti optio.</p>
            <a class="flex justify-center items-center" href=""> <h2 class="text-blue-700">Compare plans</h2> <ArrowBlack /></a>
        </div>
        <div class="flex gap-5 flex-col items-center w-[300px] justify-center">
            <img src="/family-together.jpg" width="300" alt="">
            <h1 class="text-xl font-extrabold">Life Insurance</h1>
            <p class="text-sm opacity-70 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum numquam adipisci minus libero vero harum consectetur mollitia. Non delectus eum rerum cum ducimus nobis rem modi similique deleniti optio.</p>
            <a class="flex justify-center items-center" href=""> <h2 class="text-blue-700">Compare plans</h2> <ArrowBlack /></a>

        </div>
    </div>
    <div class="flex md:flex-row gap-20 flex-col items-center w-full justify-evenly">
        <div class="flex gap-5 flex-col items-center w-[300px] justify-center">
            <img src="/reduced-expenses.jpg"  alt="">
            <h1 class="text-xl font-extrabold">Medicare Supplement</h1>
            <p class="text-sm opacity-70 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum numquam adipisci minus libero vero harum consectetur mollitia. Non delectus eum rerum cum ducimus nobis rem modi similique deleniti optio.</p>
            <a class="flex justify-center items-center" href=""> <h2 class="text-blue-700">Compare plans</h2> <ArrowBlack /></a>

        </div>
        <div class="flex gap-5 flex-col items-center w-[300px] justify-center">
            <img src="/man-signing.jpg"  width="300" alt="">
            <h1 class="text-xl font-extrabold">Medicare Advantage</h1>
            <p class="text-sm opacity-70 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum numquam adipisci minus libero vero harum consectetur mollitia. Non delectus eum rerum cum ducimus nobis rem modi similique deleniti optio.</p>
            <a class="flex justify-center items-center" href=""> <h2 class="text-blue-700">Compare plans</h2> <ArrowBlack /></a>

        </div>
    </div>
</div>