---

---

<div class="f  flex items-center px-14   flex-col md:flex-row  bg-[#E1DBDC]">
    <div class="flex flex-col gap-8 justify-evenly w-[70vw] md:w-full p-5 py-12 ">
        <h1 class="t text-4xl md:text-5xl leading-snug text-blue-700">YOUR GUIDE TO QUALITY COVERAGE</h1>
        <p class="o text-sm text-pretty  md:text-base opacity-60">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, enim dignissimos, nam assumenda illum minima ad unde voluptatum, nemo perspiciatis reiciendis iste. Quas ab quam et nostrum. At, et iure?</p>
        <button class="b bg-[#06b6d4] w-[150px] flex items-center justify-center rounded-full px-4 py-2"><h2 class="t mx-2 text-white font-black">FIND PLANS</h2></button>
    </div>
    <img src="/hero-bg.jpg" class="hidden md:flex md:w-[50vw]"  alt="">
</div>