<div class="f min-h-[500px] flex flex-col md:flex-row justify-center bg-[white] gap-20 p-24">
    <img src="/committed-help.png"  alt="" class="order-2 md:w-[500px] md:order-1">
    <div class="flex flex-col justify-center gap-6 md:max-w-[400px]  order-1 md:order-2">
        <h1 class="t text-4xl leading-snug text-black">Commited to help you find the right plan</h1>
        <p class="o opacity-60">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, enim dignissimos, nam assumenda illum minima ad unde voluptatum, nemo perspiciatis reiciendis iste. Quas ab quam et nostrum. At, et iure?</p>
        <button class="b bg-[#1C4ED8] w-[250px] flex items-center justify-center rounded-full px-4 py-2"><h2 class="t mx-2 text-white font-black">ABOUT INSUREZELLA</h2></button>
    </div>
</div>
