---

---

<div class="m min-h-[500px] bg-[#dbeafe] w-[100vw] flex justify-center p-6 py-11 text-center md:p-12 gap-20 flex-col items-center ">
    <h1 class="text-black font-black text-3xl md:text-4xl">Pick the insurance that suites your needs.</h1>
    <div class="flex gap-16 md:flex-row flex-col justify-between">
        <div class="flex w-[300px] gap-4 justify-center flex-col items-center">
            <img width="50" src="/health-insurance-icon.png" alt="">
            <h1 class="text-2xl text-[#0562FF] font-black">Health Insurance</h1>
            <p class="o opacity-70 flex justify-center items-center text-center text-pretty text-sm">lorem ipsum is simply dummy test of the printing and typesetting industry. lorem ipsum is simply dummy text</p>
        </div>
        <div class="flex w-[300px] gap-4 justify-center flex-col items-center">
            <img width="50" src="/medicare-icon.png" alt="">
            <h1 class="text-2xl text-[#0562FF] font-black">Medicare Supplement</h1>
            <p class="o opacity-70 flex justify-center items-center text-center text-pretty text-sm">lorem ipsum is simply dummy test of the printing and typesetting industry. lorem ipsum is simply dummy text</p>
        </div>
        <div class="flex w-[300px] gap-4 justify-center flex-col items-center">
            <img width="50" src="/life-insurance-icon.png" alt="">
            <h1 class="text-2xl text-[#0562FF] font-black">Life Insurance</h1>
            <p class="o opacity-70 flex justify-center items-center text-center text-pretty text-sm">lorem ipsum is simply dummy test of the printing and typesetting industry. lorem ipsum is simply dummy text</p>
        </div>
    </div>
    <div class="flex gap-16 md:flex-row flex-col justify-between">
        <div class="flex w-[300px] gap-4 justify-center flex-col items-center">
            <img width="50" src="/medicare-advantage-icon.png" alt="">
            <h1 class="text-2xl text-[#0562FF] font-black">Medicare Advantage</h1>
            <p class="o opacity-70 flex justify-center items-center text-center text-pretty text-sm">lorem ipsum is simply dummy test of the printing and typesetting industry. lorem ipsum is simply dummy text</p>
        </div>
        <div class="flex w-[300px] gap-4 justify-center flex-col items-center">
            <img width="50" src="/obamacare-icon.png" alt="">
            <h1 class="text-2xl text-[#0562FF] font-black">ACA / Obamacare</h1>
            <p class="o opacity-70 flex justify-center items-center text-center text-pretty text-sm">lorem ipsum is simply dummy test of the printing and typesetting industry. lorem ipsum is simply dummy text</p>
        </div>
        <div class="flex w-[300px] gap-4 justify-center flex-col items-center">
            <img width="50" src="/short-term-icon.png" alt="">
            <h1 class="text-2xl text-[#0562FF] font-black">Short-Term Medical</h1>
            <p class="o opacity-70 flex justify-center items-center text-center text-pretty text-sm">lorem ipsum is simply dummy test of the printing and typesetting industry. lorem ipsum is simply dummy text</p>
        </div>
    </div>
</div>